.image {
    position: relative;
    text-align: center;
    color: #ffff;
}

.logo {
    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
    bottom: 50%;
    font-size: 20px
}

.about-us{
    text-align: center;
    font-size: 23px;
}

.service-image {
    text-align: center;
    font-size: 18px;
}

#services {
    margin-top: -6cm;
    color: #ffff;
}