.image {
    position: relative;
    text-align: center;
    color: #ffff;
    font-size: 20px;

}

h1 {
    font-family: 'DM Serif Display';
    font-size: 22px;
}

h2 {
    font-family: 'Sofia';
    font-size: 22px;
}

p {
    font-family: 'Vidaloka';
    font-size: 22px;
}

.background {
    background-image: url("./IP3/background/h_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20%
}

/* .logo {
    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
    bottom: 50%;
    font-size: 20px;
} */

.about-us {
    text-align: center;
    font-size: 23px;
}

.service-image {
    background-image: url("./IP3/background/s_image.jpg");
    background-repeat: no-repeat;
    padding: 15%;
    text-align: center;
    background-position: center;
    font-size: 18px;
    color: #ffff;
    font-size: 25px;
}

/* #services {
    margin-top: -6cm;
    color: #ffff;
} */


.what-we-do {
    text-align: center;
}

#Portfolio {
    text-align: center;
    justify-content: space-between;
}


#email-section {
    background-image: url("./IP3/background/c_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%
}


#contact {
    color: white;
    text-align: center;
}

.email {

    display: flex;
    justify-content: space-between;
    color: #ffffff;

}

#footer {
    text-align: center;
}

#design>p {
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Catamaran', sans-serif;
}

#development>p {
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Catamaran', sans-serif;
}

#products-management>p {
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Catamaran', sans-serif;
}

/* .email .form-control{
    background: rgb(0, 0, 0, );
    background: rgba(0, 0, 0, 0.5);
} */

#mce-NAME {
    font-size: 30px;
    color: white;
    font-weight: 900;
    background: rgba(0, 0, 0, 0);
}

#mce-EMAIL {
    font-size: 30px;
    color: white;
    font-weight: 900;
    background: rgba(0, 0, 0, 0);
}

/* #Message {
    color: white;
    font-weight: 900;
    background: rgba(0, 0, 0, 0);
} */

#mce-MSG {
    color: white;
    font-weight: 900;
    background: rgba(0, 0, 0, 0);
}

#get-name {
    color: white;
    font-size: 20px;
    font-weight: 900;
    background: rgba(0, 0, 0, 0);
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#name-email {
    display: flex;
    justify-content: space-between;
}

#mce-responses {
    color: white;
    font: size 20px;
}

.row {
    margin: 30px;

}

#works1-p,
#works2-p,
#works3-p,
#works4-p,
#works5-p,
#works6-p,
#works7-p,
#works8-p {
    padding: 20px;
    font-size: 50px;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 100%;
    display: none;
    padding-top: 20%;
    position: absolute;
    background-color: rgba(250, 245, 245, 0.456);
    font-weight: normal;
    color: #1506e0;
    text-align: center;
}